// Typography

$font-family: 'Source Sans Pro', sans-serif;
$details-font-family: 'Raleway', sans-serif;


// Colors 

$white: #ffffff;
$purple: #440F8E;
$gray: #474747;
$lightgray: #777777;

